<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style>
        ul li{
        list-style: none;
        font-size: 30px;
        cursor: pointer;
        }
        a{
        text-decoration: none;
        color: black;
        }
    </style>
</head>
<body>
    <ul>
        {%for question in questions%}
        <li>
            <a href="{% url 'question_detail' question.id %}">{{question.text}}</a>
        </li>
        {% endfor %}
    </ul>

</body>
</html>